.titulo-user{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #ff7d12;
    text-shadow:
        -1px -1px 0 white,
        1px -1px 0 white,
        -1px 1px 0 white,
        1px 1px 0 white;
    background-color:#1c24a2b5;
    font-size: 2rem;
    height: 200px;
    width: 100%;
    margin-top: 6%;
}

.seccion-form{
    width: 60%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 2%;
}

.navbar-usuario{
    display: flex;
    gap: 10px;
    justify-content: flex-start;
}

.link-usuario{
    list-style: none;
    width: 150px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    cursor: pointer;
}
.link-usuario.activo {
  background-color: #1c24a2b5; /* o el gris que vos quieras */
}

.titulo-navBar{
    text-decoration: none;
    color: #ff7d12;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}


.form-usuario{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    justify-items: start;
    background: #1c24a2b5;
    gap: 10px;
    padding: 20px;
}
.formUser{
    width: 50%;
}
.titulo-tabla-usuario {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    color: #ff7d12;
}

.form-usuario label {
    font-weight: 400;
    text-transform: uppercase;
    color:#1c24a2;
}

.form-usuario input {
    width: 100%;
    border-radius: 100px;
    padding: 10px 25px;
    font-size: 18px;
}


.btn-usuario{
    background: #ff7d12;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    font-weight: 500;
    margin-top: 2%;
    height: 40px;
    border-radius: 6px;
    width: 60%;
    display: flex;  
    align-items: center;
    justify-content: center;
    color: black;
    border: none;
}
.btn-usuario:hover{
    transition: 1s;
    background-color: blue;
    color: white;
}


@media (max-width: 575px) {
    .titulo-user{
    margin-top: 20%;
    }
    .seccion-form{
        width: 98%;
    }
    .tabla-pedidos{
        font-size: 13px;
        margin-left: -20px;
    }


}