.crearProducto {
    width: 70%;
    margin-left: 5%;
    padding: 20px;
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;

}
.input-crear{
    width: 80%;
    height: 30px;
    border-radius: 6px;
    font-family: "Poppins", sans-serif;
    padding: 10px;
    
}


.input-upload{
    width: 80%;
    margin-bottom: 2%;
    font-family: "Poppins", sans-serif;
}

.btn-crear {
    background: #007b7f;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-top: 2%;
    height: 30px;
    border-radius: 6px;
    width: 50%;
    display: flex;  
    align-items: center;
    justify-content: center;
    color: #ffffff;
    border: none;
}

.btn-crear:hover{
    background:#2f5253;
}

.btn-flex{
    display:flex ;
    justify-content: center;
}

.seccion-admin {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 10%;
}

.grid-productos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}