.crearProducto {
    width: 80%;
    margin-left: 5%;
    padding: 20px;
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
}

.btn-crear{
    background: #007b7f;
}

.seccion-admin{
    display: flex;
    flex-direction: row;
    gap: 20px;
}