.seccion-usuarios {
    padding: 20px;
    border: 1px solid #ddd;
    width: 80%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

@media (max-width: 575px) {
    .seccion-usuarios {
        width: 100%;
    }
}