.seccion-usuarios {
    padding: 20px;
    border: 1px solid #ddd;
    width: 50%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    margin-bottom: 20%;
}

.scroll{
    width: 100%;
    overflow-x: auto;
}
.filtros-usuarios {
display: grid;
grid-template-columns: repeat(2, 1fr);
}

.input-filtro {
  padding: 8px 12px;
  border: 1px solid #ff7d12;
  border-radius: 5px;
  font-size: 1rem;
  min-width: 200px;
}

@media (max-width: 575px) {
    .seccion-usuarios {
        width: 100%;
    }
}