
.seccion-faq{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.seccion-envio{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    width: 50%;
    margin: auto;
    margin-top: 2%;
}

.seccion-envio2{
    border: 1px, solid, gray;
    padding: 30px;
    border-radius: 10px;
    background: #ffff;
}


.ComoComprar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 50%;
    margin: auto;
    margin-top: 2%;
}

.ComoComprarCards {
    border: 1px, solid, gray;
    padding: 30px;
    border-radius: 10px;
    background: #ffff;
}

.textofaq {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.titulo-faq{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #fff;
    background-color:rgb(166 159 136);
    font-size: 2rem;
    height: 200px;
    width: 100%;
    margin-top: 7%;
}

.tituloComprar1 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #818cf8;
}

.tituloComprar2 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #A3E635;
}

.tituloComprar3 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #FFAC15;
}

.tituloComprar4 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #22D3EE;
}

.tituloComprar {
    margin-top: 2%;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;

}

@media (max-width: 575px) {
    .seccion-faq{
    margin-top: 40%;
}
    .ComoComprar{
        grid-template-columns: repeat(1, 1fr);
        width: 90%;
    }
    .seccion-envio{
        width: 90%;
    }
}