
.seccion-faq{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5%;
    margin-top: 2%;
}

.seccion-envio{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    width: 50%;
    margin: auto;
    margin-top: 2%;
}

.seccion-envio2{
    border: 1px, solid, #1c24a2;
    padding: 30px;
    border-radius: 10px;
    background: #ff7d12c1;
}


.ComoComprar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 50%;
    margin: auto;
    margin-top: 2%;
}

.ComoComprarCards {
    border: 1px, solid, #1c24a2;
    padding: 30px;
    border-radius: 10px;
    background: #ff7d12c1;
}

.textofaq {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: black;
}

.titulo-faq{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #ff7d12;
    text-shadow:
        -1px -1px 0 white,
        1px -1px 0 white,
        -1px 1px 0 white,
        1px 1px 0 white;
    background-color:#1c24a2b5;
    font-size: 2rem;
    height: 200px;
    width: 100%;
    margin-top: 7%;
}

.tituloComprar1 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #1c24a2;
}

.tituloComprar2 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #1c24a2;
}

.tituloComprar3 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #1c24a2;
}

.tituloComprar4 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #1c24a2;
}
.titulo-container{
    width: 100%;
    height: 100px;
}
.tituloComprar {
    margin-top: 2%;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #ff7d12;
}

@media (max-width: 575px) {
    .seccion-faq{
    margin-top: 40%;
}
    .ComoComprar{
        grid-template-columns: repeat(1, 1fr);
        width: 90%;
    }
    .seccion-envio{
        width: 90%;
    }
    .titulo-faq{
        margin: 0;
    }
}