
.contactoData {
    flex-direction: column;
    gap: 20px;
    margin-top: 2%;
}

.wpp {
    gap: 10px;
}

.text-contacto {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.titulo-contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #fff;
    background-color:rgb(166 159 136);
    font-size: 2rem;
    height: 200px;
    margin-top: 7%;
}

.formulario-contacto {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
    margin-top: 2%;
}

.formulario-contacto input,
.formulario-contacto textarea {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.formulario-contacto button {
    background-color: #2b7a78;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.formulario-contacto button:hover {
    background-color: #3aafa9;
}

@media (max-width: 575px) {
    .seccion-contacto{
    margin-top: 30%;
}
}