.seccion-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    margin: auto;
    background-color: white;
    color: black;
    height: 100%;
    border-top: 2px solid #1c24a2;
    padding: 50px 450px 50px 450px;
}

.seccion-container {
    border-right: 1px solid #1c24a2;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
}

.seccion-container-new {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
}

.titulo-footer {
    color: #ff7d12;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
}

.footer-content {
    list-style: none;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

.footer-content a {
    text-decoration: none;
    color: inherit;
}

.footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* En tu Footer.css */
.link-footer {
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
    padding: 0;
    font-weight: 600;
    font-style: normal;
    font-size: 10px;
}

.footer-flex{
    text-decoration: none;
    color: black;
}

.footer-lin{
    border-top: 2px solid #1c24a2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 30px;
    font-size: 0.8rem;
    margin: 0 350px 0 350px;
}

@media (max-width: 575px){
    .seccion-footer{
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .footer{
        width: 55%;
        align-items: center;
    }

    .seccion-container{
        padding: 20px;
    }

    .seccion-container-new{
        padding: 20px;
    }
    .titulo-footer{
        width: 300px;
    }
    .footer-content a{
        font-size: 10px;
    }
    .footer-lin{
    margin: 0;
    font-size: 0.6rem;
}
}