.inicio {
    background-color: #dcceab;

}

.container2 {
    display: flex;
    justify-content: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    justify-items: center;
    width: 100%;
}


.seccion-descuento{
    border: 2px solid #582f7a;
    width:60%;
    background-color:rgb(166 159 136);
    margin-bottom: 10%;
    margin-top: 2%;
    border-radius: 10px;
    padding: 100px;
}


.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #fff;
    background-color:rgb(166 159 136);
    font-size: 2rem;
    height: 200px;
}


.filter1 {
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    font-size: 1rem;
    margin-top: 1%;
    width: 10%;
    border: 2px solid black;
    left: 30px;
}

.filter2 {
    display: flex;
    gap: 100px;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

.checkbox-hidden {
    display: none;
}

.filter-option {

    color: #333;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    user-select: none;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1rem;
    border-left: 2px solid red;
    border-right: 2px solid red;
}

.filter-option:hover {
    background-color: black;
    color: white;
}

.filter-option.active {
    background-color: black;
    color: white;
    border-color: black;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.text-filter {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

select {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.3);
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s, box-shadow 0.2s;
    height: 100%;
    width: 100%;
}

.card img {
    width: 100%;
    height: 20vh;
    border-bottom: 1px solid #eee;
}

.card-content {
    padding: 15px;
    text-align: center;
}

.card-content h1 {
    font-size: 1rem;
    color: #333;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
    height: 80px;
}

.card-content h1:hover{
    text-decoration:  underline;
}

.card-content p {
    font-size: 1rem;
    color: #777;
    margin: 5px 0;
}

.card-content .price {
    font-size: 1.5rem;
    color: #2a9d8f;
    margin: 5px 0;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.card-content .stock {
    font-size: 1.4rem;
    color: #2a9d8f;
    margin: 5px 0;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.card-content button {
    background-color: #A3E635;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 30px;
    height: 30px;
}


.card-content button:hover {
    background-color: #21867a;
}

.contenido-inicio1 {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 5%;
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    color: rgb(72, 71, 71);
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{
    color: rgb(72, 71, 71);
}

@media (max-width: 575px) {
    .container {
        grid-template-columns: repeat(1, 1fr);
    }

    .container2 {
        width: 60%;
        position: relative;
        left: 40%;
    }

    .card {
        width: 100%;
        height: 100%;
    }

    .filter1{
        left: 0;
        width: 30%;
        margin-top: 3%;
    }
    .title{
        font-size: 1.5rem;
    }

    .seccion-descuento{
        width: 90%;
        padding: 0px;
    }
    .swiper{
        padding: 40px !important;
        width: 80%;
    }

}