.navBar-container {
    background-color: black;
    height: 15vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;

}

.navBar {
    display: flex;
    justify-content: space-around;
    padding-top: 2%;
    align-items: center;

}


.saludo-usuario {
    font-weight: bold;
    color: white;
    /* o el color que combine con tu fondo */
    margin-right: 10px;
}

.navBar-title {
    color: white;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}


.logo {
    height: 10vh;
    border-radius: 10%;
}

.logo-animado {
    height: 100px;
    border-radius: 10%;
}

.navBar-list {
    display: flex;
    list-style: none;
    gap: 30px;
}

.login-button {
    color: black;
}

.register-button {
    color: black;
}

.logo-cart {}

.logout-button {}


/* Estilos base */
.hamburger {
    display: none;
    font-size: 1.8rem;
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
}

/* Para pantallas pequeñas */
@media (max-width: 575px) {
    .navBar-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        /* debajo del navbar */
        right: 10px;
        backdrop-filter: blur(10px);
        background-color: rgba(255, 255, 255, 0.3);
        /* blanco semitransparente */
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 1rem;
        width: 50%;
        /* o 250px si preferís fijo */
        z-index: 1000;
        /* para que esté por delante */
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
        margin-top: 10%;
    }

    .navBar-title {
        color: black;
    }

    .navBar-list.open {
        display: flex;
    }

    .hamburger {
        display: block;
        top: 20px;
        right: 20px;
        z-index: 1100;
        /* aún más arriba */
    }

    .logo-animado {
        height: 80px;
    }
}