.nav-destacado{
    background-color: #1c24a2;
    border-bottom:2px solid #ff7d12;
}

.nav-destacado-list{
    width: 100%;
    height: 50px;
    color: white;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.navBar-container {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    border-bottom: 2px solid #ff7d12;
}

.navBar {
    display: flex;
    justify-content: space-around;
    padding-top: 2%;
    align-items: center;

}


.saludo-usuario {
    font-weight: bold;
    color: white;
    /* o el color que combine con tu fondo */
    margin-right: 10px;
}

.navBar-title {
    color: #1c24a2;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.navBar-title:hover{
    color: #ff7d12;
    transition:1s;
}

.logo {
    height: 10vh;
    border-radius: 10%;
}

.logo-animado {
    height: 75px;
    
}

.navBar-list {
    display: flex;
    list-style: none;
    gap: 30px;
}

.login-button {
    color: white;
    background-color: #1c24a2 ;
    border: 1px solid white;
    padding: 5px;
    border-radius: 10px;
}

.login-button:hover{
    background-color: #ff7d12;
    color: black;
    cursor: pointer;
    transition: 1s;
}

.logo-cart{
    fill: #1c24a2;
    transition: transform 0.3s ease;
}
.logo-cart:hover{
    transform: scale(1.1); /* agrandar al hacer hover */
    fill: #ff7d12; /* color al hacer hover */
}

.register-button {
    color: black;
}

.cart-button{
    border: none;
    background-color: white;
}

.logout-button {}


/* Estilos base */
.hamburger {
    display: none;
    font-size: 1.8rem;
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
}

/* Para pantallas pequeñas */
@media (max-width: 575px) {
    .navBar-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        /* debajo del navbar */
        right: 10px;
        backdrop-filter: blur(10px);
        background-color: rgba(255, 255, 255, 0.3);
        /* blanco semitransparente */
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 1rem;
        width: 50%;
        /* o 250px si preferís fijo */
        z-index: 1000;
        /* para que esté por delante */
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
        margin-top: 10%;
    }


    .navBar-list.open {
        display: flex;
    }

    .hamburger {
        display: block;
        top: 20px;
        right: 20px;
        z-index: 1100;
        /* aún más arriba */
    }

    .logo-animado {
        height: 80px;
    }
}
@media (max-width: 350px) {
    .login-button{
        font-size: 12px;
    }
}
